#service {

    padding: 0 16px;

    header {
        background: #1b1b53;
        display: flex;
        align-items: center;
        padding: 16px;
        margin-bottom: 16px;


        strong {
            color: #FFF;
            font-size: 14pt;
            margin-right: 16px;
        }

        button {
            background-color: #f91a1a;
            color: #FFF;
            font-weight: bold;
            border: 1px solid #FFF;
            border-radius: 12px;
            width: 120px;
            height: 32px;
            cursor: pointer;
        }
    }

    main {
        display: flex;

        .chat-list {
            width: 45%;
            margin-right: 16px;
            border: 1px solid #d1cece;
            padding: 8px;
            border-radius: 10px;
            height: 470px;
            overflow-y: auto;

            // Para ocultar a barra de rolagem
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                width: 0;
            }
        }

        .chat-information {
            background-color: #ccc;
            flex: 1;
            padding: 8px;
            height: 200px;
            max-height: 250px;
        }

        .end-chat {
            margin-top: 16px;
            text-align: end;

            button {
                background-color: #f91a1a;
                color: #FFF;
                font-weight: bold;
                border: 1px solid #FFF;
                border-radius: 12px;
                width: 100px;
                height: 32px;
                cursor: pointer;

                &.finished {
                    background-color: rgb(129, 125, 125);
                    cursor: not-allowed;
                }

            }
        }
    }

}